.nodisp {
  display: none;
}

.disp {
  display: block;
}

.lendform {
  margin-top: 20px;
  box-shadow: 2px 2px 5px rgb(135,135,135);
  border-radius: 5px;
}

.qbtn {
  background-color: #f8b645;
  margin: 5px;
}

.qbtn:hover {
  background-color: #f8af31;
}
.razorpay-payment-button{
  background-color: #f8b645;
  color: white;
  cursor: pointer;
  margin: 5px;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.razorpay-payment-button:hover{
  background-color: #f8af31;
}

