.nodisp {
  display: none;
}

.disp {
  display: block;
}

.lendform {
  margin-top: 20px;
  box-shadow: 2px 2px 5px rgb(135,135,135);
  border-radius: 5px;
}

.qbtn {
  background-color: #f8b645;
  margin: 5px;
    border: 0px;
}

.qbtn:hover {
  background-color: #f8af31;
}

